{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
    <h1 style="color: blue">ComUnity Hub</h1>
    <h2>Your space to connect, share, and collaborate with the community</h2>
    <hr>
    {% for post in posts %}
    <div class="row border mt-4 p-3 mypost">
        <div class="col col-2">
            <div class="image pe-2"><img class="rounded" src="{{ url_for('static', filename='profile_photos/' + post.author.profile_photo) }}" width="200"></div>
            <strong>{{ post.author.username }}</strong>
            <div class="row justify-content-center">
                {% for courses in post.author.courses.split(';') %}
                    <button type="button" class="btn btn-success mt-2" disabled>{{ courses }}</button>
                {% endfor %}
            </div>
        </div>
            <div class="col col-9">
                <h3 style="display: flex; justify-content: space-between; align-items: center;">
                    <a style="text-decoration: none" href="{{ url_for('show_post', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                    <small class="text-muted" style="font-size: 15px; pointer-events: none; user-select: none;">
                        Created on: {{ post.posted_on_humanized }}
                    </small>
                </h3>
                <p style="text-align: justify;">{{ post.body }}</p>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
