{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">

    <div class="row border mt-4 p-3 mypost">
        <div class="col col-2">
            <div class="image pe-2"><img class="rounded" src="{{ url_for('static', filename='profile_photos/' + post.author.profile_photo) }}" width="200"></div>
            <strong>{{ post.author.username }}</strong>
            <div class="row justify-content-center">
                {% for courses in post.author.courses.split(';') %}
                    <button type="button" class="btn btn-success mt-2" disabled>{{ courses }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="col col-9">
            <h3>{{ post.title }}</h3>
            <p>{{ post.body }}</p>
        </div>
    </div>
</div>
{% endblock %}