{% extends 'profile.html' %}

{% block profile_edit_form %}

<div class="container">
    <div class="row">
        <div class="col">
            <form action="" class="border p-4 mt-2" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <legend>Profile Edit</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.profile_photo.label}}
                        {{ form.profile_photo(class="form-control-file") }}
                        {% if form.profile_photo.errors %}
                            {% for erro in form.profile_photo.errors %}
                                <span class="text-danger">{{ erro }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    <p>Courses</p>
                    {% for field in form %}
                        {% if 'course_' in field.name %}
                            <div class="form-group">
                                {{ field(class="form-check-input") }}
                                {{ field.label(class="form-check-input-label") }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                {{ form.profile_edit_submit(class="btn btn-primary mt-2") }}
            </form>
        </div>
    </div>
</div>



{% endblock %}