{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Login or Register to continue</h1>
    <div class="row">
        <div class="col">
            <form action="" method="POST" class="border p-4 mt-2">
                <legend>Login</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                        {{ form_login.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_login.password.label(class="form-control-label") }}
                        {{ form_login.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_login.remember_me.label(class="form-check-input-label") }}
                        {{ form_login.remember_me(class="form-check-input") }}
                    </div>
                </fieldset>
                {{ form_login.login_submit(class="btn btn-primary mt-2") }}
            </form>
        </div>
        <div class="col">
            <form action="" method="POST" class="border p-4 mt-2">
                <legend>Register</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_creat_account.username.label(class="form-control-label") }}
                        {{ form_creat_account.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_creat_account.email.label(class="form-control-label") }}
                        {{ form_creat_account.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_creat_account.password.label(class="form-control-label") }}
                        {{ form_creat_account.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_creat_account.confirmation.label(class="form-control-label") }}
                        {{ form_creat_account.confirmation(class="form-control") }}
                    </div>
                </fieldset>
                {{ form_creat_account.submit(class="btn btn-primary mt-2") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

